<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Польотів</title>
    <meta charset="utf-8" />

</head>

<body>
    {{> menu}}

    <div class="Db">
        <div class="Db-data">
            <h1>Список Польотів</h1>
            {{!-- <p><a href="/flightTable/create">Добавить пользователя</a></p> --}}
            <table id="table1">
                <thead>
                    <tr>
                        <th>Flight ID</th>
                        <th>Plane ID</th>
                        <th>Status</th>
                        <th>Airstrip ID</th>
                        <th>Number of Passengers</th>
                        <th>Shipping Time</th>
                        <th>Arrival Time</th>
                        <th>Place of Dispatch</th>
                        <th>Place of Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flight}}
                    <tr>
                        <td>{{this.IdFlight}}</td>
                        <td>{{this.IdPlane}}</td>
                        <td>{{this.IdStatus}}</td>
                        <td>{{this.IdAirstrip}}</td>
                        <td>{{this.NumberOfPassengers}}</td>
                        <td>{{this.ShippingTime}}</td>
                        <td>{{this.ArrivalTime}}</td>
                        <td>{{this.PlaceOfDispatch}}</td>
                        <td>{{this.PlaceOfArrival}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>

    {{> footer}}
</body>
<html>